
h1{
    color : black;
}
.flexContainerr{
    display: flex;
    background-color: crimson
}
;

.unique{
display: flex;
width: 600px;
height: 900px;
}
.Tarak{
text-align:center ;
background-color: blue;

margin: 5px;
padding: 3px ;
}
